**************body******************* body {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    background-color: #ccc;
}

h1 {
    font-size: 5pc;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 32px;
}

.theBox {
    width: 100%;
    margin: 40px auto;
}

h3 {
    padding: auto;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}

p {
    padding: 20px;
    clear: right;
    font-size: 18px;
}


/*******************container section*************************/

.container-1 {
    width: 300px;
    margin: 10px;
    height: 200px;
    color: whitesmoke;
    background-color: rgb(58, 2, 58);
    float: left;
    border: 1px solid yellow;
    box-sizing: border-box;
}

.container-2 {
    width: 300px;
    margin: 10px;
    height: 200px;
    color: whitesmoke;
    background-color: rgb(58, 2, 58);
    float: left;
    border: 1px solid yellow;
    box-sizing: border-box;
}

.container-3 {
    width: 300px;
    height: 200px;
    margin: 10px;
    color: whitesmoke;
    background-color: rgb(58, 2, 58);
    float: right;
    border: 1px solid yellow;
    box-sizing: border-box;
    overflow-y: hidden;
}


/****************class selector**********/

.burger {
    background-color: black;
    display: block;
    height: 50px;
    width: 150px;
    margin: auto;
    float: right;
    border: 1px solid yellow;
}

.sushi {
    background-color: black;
    display: block;
    height: 50px;
    width: 150px;
    padding: 0%;
    margin: auto;
    position: relative;
    float: right;
    border: 1px solid yellow;
}

.samosa {
    background-color: black;
    display: block;
    height: 50px;
    width: 150px;
    padding: 0%;
    margin: auto;
    position: relative;
    float: right;
    border: 1px solid yellow;
    overflow: hidden;
}


/************desktop devices**********/

@media (min-width: 992px) {
    .container-1 {
        width: 27%;
        float: left;
    }
    .container-2 {
        width: 27%;
        float: left;
    }
    .container-3 {
        width: 27%;
        float: left;
    }
}


/************tablet devices**********/

@media (min-width: 768px) and (max-width: 991px) {
    .container-1 {
        width: 48.5%;
        float: left;
        margin-left: 0%;
    }
    .container-2 {
        width: 48.5%;
        float: right;
        margin-right: 0%;
    }
    .container-3 {
        width: 100%;
        margin: 10px auto;
        float: inline-start;
    }
}


/************mobile devices**********/

@media (max-width: 767px) {
    .container-1 {
        float: none;
        margin-top: 20px;
        width: 80%;
        margin: 15px 0;
    }
    .container-2 {
        float: none;
        margin-top: 20px;
        width: 80%;
        margin: 15px 0;
    }
    .container-3 {
        float: none;
        margin-top: 20px;
        width: 80%;
        margin: 15px 0;
    }
}
